apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vytalwatch-logs
  namespace: vytalwatch-prod
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vytalwatch-uploads
  namespace: vytalwatch-prod
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
  storageClassName: standard
